header {
  display: flex;
  height: 70px;
  max-width: 1440px;
  margin: auto;
  padding: 75px 8%;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.brand {
  font-size: 1.1rem;
  font-weight: 900;
}

.brand span {
  margin-right: 5px;
  color: var(--peach);
}

.create-link {
  font-weight: 800;
}

.create-link-home {
  display: none;
}

@media (max-width: 720px) {
  header {
    padding: 0 20px;
  }
}
